language: node_js
node_js:
  - 12

# https://travis-ci.community/t/build-doesnt-finish-after-completing-tests/288/24
env: YARN_GPG=no

os:
  - linux
  - osx
  - windows

script: 
  - |
    if [ "$TRAVIS_OS_NAME" = "linux" ]; then
      yarn test
    fi
    echo 0

before_deploy:
  - |
    git config --local user.name "ayazhafiz"
    git config --local user.email "ayaz.hafiz.1@gmail.com"
    export TRAVIS_TAG=${TRAVIS_TAG:-$(git log --format=%h -1)}
    git tag $TRAVIS_TAG || true

    if [ "$TRAVIS_OS_NAME" = "linux" ]; then
      yarn nexe dist/src/main.js -o "gradec-x86_64-linux"
      export DEPLOY_FILE="gradec-x86_64-linux"
    elif [ "$TRAVIS_OS_NAME" = "osx" ]; then
      yarn nexe dist/src/main.js -o "gradec-x86_64-apple-darwin"
      export DEPLOY_FILE="gradec-x86_64-apple-darwin"
    else
      yarn nexe dist/src/main.js -o "gradec-windows"
      export DEPLOY_FILE="gradec-windows"
    fi

deploy:
  provider: releases
  api_key: "$GRADEC_ACCESS_TOKEN"
  file: $DEPLOY_FILE
  overwrite: true
  skip_cleanup: true
  on:
    branch: master

after_deploy:
  - |
    if [ "$TRAVIS_OS_NAME" = "linux" ]; then
      scripts/replace_release_link $TRAVIS_TAG
      git commit -a -m "Update release link for $TRAVIS_TAG"
      git push
    fi
